@import url("https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/night.css");


#langsLabel
{
    position: fixed;
    width: 20%;
    height: 11%;
    padding: 20px;
    z-index: 999;
    right: 10px;
    top: 5px;
}

#langsLabel .langicon { 

    z-index: 999;  
    text-decoration: none; 
    display: inline-block;
    width: 30%;
    height: 100%;
    margin: 10px;
}

#langsLabel .langicon:hover {
    cursor: pointer;
}

@media (max-width: 360px) 
{    
    #langsLabel
    {
        width: 35%;
    }
}

@media screen and (min-height: 639px) , screen and (max-width: 552px) 
{    
    #langsLabel
    {
        height: 7%;
    }
}

@media (max-width: 1027px) 
{    
    #langsLabel
    {
        width: 25%;
    }
}

#why-it-section
{
    font-size: 90%;
}

#why-it-section-2
{
    font-size: 90%;
}

#other-languages-2
{
    font-size: 90%;
}

#c-table
{
    font-size: 90%;
}


code span.dt { text-decoration: none; font-style: italic; }
.reveal p { margin-bottom: 1em; text-align: left; }
.reveal pre > code,
.reveal pre { background-color: #111111; margin-bottom: 2em; }
.reveal code { padding-left: 0.1em; padding-right: 0.1em; }
.reveal h1 { font-size: 250%; line-height: 1.1em; }
.reveal pre > code { font-size: 140%; line-height: 160%; }
.reveal table { margin-right: auto; margin-left: auto; }
#slides-center-site { position: absolute; top: 20%; }
